.stickytable {
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	margin-top: 0;
}

.stickytable table {
	background-color: #fff;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.stickytable table td,
.stickytable table td * {
	vertical-align: top;
}

.stickytable tr:nth-child(even) td {
	background: #f8f6ff;
}

.stickytable th,
.stickytable td {
	padding: 15px;
}

.stickytable th {
	position: sticky;
	top: 0;
	background: #005091;
	text-align: left;
	font-weight: normal;
	font-size: 1.1rem;
	color: white;
	z-index: 1;
}

.stickytable td {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #808080;
}

.stickytable th:first-child,
.stickytable td:first-child {
	min-width: 200px;
	width: calc(33% - 30px);
}

.stickytable th:last-child,
.stickytable td:last-child {
	border: 0;
	width: calc(100% - 30px);
}

@media only screen and (min-width: 768px) {
	.stickytable th:first-child,
	.stickytable td:first-child {
		width: 300px;
	}

	.stickytable th:last-child,
	.stickytable td:last-child {
		border: 0;
		width: calc(100% - 300px);
	}
}

