.summary {
	cursor: pointer;
}

.link {
    display: inline-block;
	padding-bottom: 0.3rem;
    text-decoration: underline;
}

.description {
    color: #4a4a4a;
    word-wrap: break-word;
    padding: 0;
	margin: 0;
}